.activeCard,
.defaultCard {
  width: 49%;
  cursor: pointer;
  text-align: left;
  box-sizing: border-box;
  padding: 0.75rem;

  // Spaces between cards will be the same one as the margin at the bottom of each card
  margin-bottom: calc((60 / 100) * ((100vw - 24vw * 4) / 3));

  border: 1px solid #e7eaed;
  transition: 0.35s ease-in-out;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.0001);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;

  .image__wrapper {
    flex: 1;
    margin-right: 2rem;

    img {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 4px 4px 22px rgba(10, 10, 10, 0.05);
      border: 1px solid rgba(20, 20, 20, 0.05);
      object-position: 50% 50%;
    }
  }

  p {
    flex: 4;
    font-size: 1.15rem;
    font-weight: 600;
  }
}

.activeCard {
  background-color: #17d482;

  p {
    color: #fff;
  }

  &:hover {
    border-color: transparent;
    box-shadow: 0px 4px 22px rgba(23, 212, 130, 0.15);
  }
}

.defaultCard {
  background-color: #fff;
  border: 1px solid #e7eaed;

  &:hover {
    border-color: transparent;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.15);
  }
}
