@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 2.5vh 0;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;

  .top__wrapper {
    h1 {
      font-size: 2.25rem;
      color: #333;
      margin-top: 0;
    }

    .picker__wrapper {
      width: 30%;
      margin: 0 auto 2.5rem;
    }
  }

  button {
    z-index: 2;
    width: 25%;
    max-width: 200px;
    margin: 2.5rem auto 0;
    box-sizing: border-box;
    padding: 0.55rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.15rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    transition: 0.25s ease-in-out;

    background-color: #0c8c95;

    &:hover {
      background-color: #0a5568;
    }
  }

  .noCurrencyText {
    color: #a0a0a0;
    font-weight: 600;
    font-size: 1.15rem;

    p {
      margin: 0.25rem;
    }
  }
}

/* Using Bootstrap's Media Queries In Order To Make Our Application Responsive */

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Very Small Devices & Small Devices
@media (max-width: 767.98px) {
  .container {
    width: 95%;
    margin: 0 auto;

    .top__wrapper {
      h1 {
        font-size: 2.75rem;
      }

      .picker__wrapper {
        width: 100%;
      }
    }

    button {
      width: 100%;
      max-width: unset;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    .top__wrapper {
      h1 {
        font-size: 2.75rem;
      }

      .picker__wrapper {
        width: 100%;
      }
    }

    button {
      width: 60%;
      max-width: unset;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
